html {
	overflow: hidden;
}

body {
	height: 100vh;
	padding: 40px;
	background-image: url('welcome_bg2.jpg');
	background-size: cover;
	background-position: center;
}

#welcome-wrapper {
	padding: 10px;
}

#welcome-logo {
    margin: 47px auto 50px auto;
    width: 60%;
}

#welcome-screen-wrapper {
	text-align: center;
}

.btn-primary {
    color: #ffffff;
    background-color: #ffa500;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #ff7600;
    border-color: transparent;
}