<span style="text-decoration: underline; cursor: pointer" id="back-to-1">back</span>
<h2>Create admin account:</h2>
<p>Enter the credensials for the admin account. Try to keep these credensials a secret.</p>

<img id="welcome-logo" src="static/logo.svg" style="width: 20vw" /><br><br>
<form>
	<span>Note: Provide a valid email, it will be used to recover the password in case you forget it!</span><br>
	<input type="text" placeholder="Email"/><br>
	<input type="text" placeholder="Password"/><br>
	<div class="welcome-button" id="btn-create-account">Create</div>
</form>